# =========================
# Android & Gradle
# =========================
*.apk
*.ap_
*.aab
*.dex
*.class
/build/
*/build/
/captures/
.externalNativeBuild/
.cxx/
.gradle/
local.properties



# =========================
# Python & Servidor
# =========================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.py[cod]
*$py.class
.env

# =========================
# Machine Learning (Datos y Modelos)
# =========================
# Ignorar carpetas de datasets
/data/
/datasets/
*.csv
*.npz
*.tflite
*.tfrecord

# Ignorar modelos pesados
*.pt
*.pth
*.h5
*.ckpt
*.pb

# Ignorar logs de entrenamiento
/logs/
/runs/

# =========================
# IDEs y SO
# =========================
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Claves de firma (¡Seguridad!)
*.keystore
*.jks