# =========================
# Android & Gradle
# =========================
*.apk
*.ap_
*.aab
*.dex
*.class
/build/
*/build/
/captures/
.externalNativeBuild/
.cxx/
.gradle/
local.properties
android-client/app/src/main/assets/mnist_x.bin
android-client/app/src/main/assets/mnist_y.bin
android-client/app/src/main/assets/modelo_global.bin



# =========================
# Python & Servidor
# =========================
venv/
env/
.venv/
.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.py[cod]
*$py.class
server/modelo_temporal/
server/mnist_x.bin/
server/mnist_y.bin/
server/modelo_global.bin

# =========================
# Machine Learning (Datos y Modelos)
# =========================
# Ignorar carpetas de datasets
/data/
/datasets/
*.csv
*.npz
*.tflite
*.tfrecord

# Ignorar modelos pesados
*.pt
*.pth
*.h5
*.ckpt
*.pb

# Ignorar logs de entrenamiento
/logs/
/runs/

# Gráficas generadas automáticamente para la memoria
graphs/

# =========================
# IDEs y SO
# =========================
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Claves de firma (¡Seguridad!)
*.keystore
*.jks