# =========================
# PYTHON (Servidor)
# =========================
# Entornos virtuales
venv/
env/
.env

# Archivos compilados y caché
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Archivos de datos y modelos
*.csv
*.npz

# =========================
# ANDROID (Cliente Kotlin)
# =========================
# Carpetas de compilación
build/
android-client/app/build/
android-client/.gradle/

# Archivos locales de Android Studio
local.properties
.idea/
*.iml

# Archivos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db